<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span class="span-toggle"></span>
    <span class="span-toggle"></span>
    <span class="span-toggle"></span>

    <ul id="menu">
      <a [routerLink]="['']">
        <li>Accueil</li>
      </a>
      <a [routerLink]="['recherche', 'ingredients']">
        <li>Rechercher</li>
      </a>
      <!-- <a [routerLink]="[]">
        <li>Recettes</li>
      </a> -->
      <a [routerLink]="['historique']">
        <li>Historique</li>
      </a>
      <div></div>
      <button *ngIf="isAuth" (click)="logout()" type="button" class="btn btn-lg" data-bs-toggle="modal"
        data-bs-target="#modalHeader">Deconnexion</button>

    </ul>
  </div>

  <div class="modal fade" id="modalHeader" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Déconnexion réussi !</h5>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <span aria-hidden="true" class="">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

</nav>