<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#">
        <li>Accueil</li>
      </a>
      <a href="#">
        <li>Rechercher</li>
      </a>
      <a href="#">
        <li>Recettes</li>
      </a>
      <a href="#">
        <li>Plats consommés</li>
      </a>
      <div></div>
      <button *ngIf="isAuth" (click)="logout()" type="button" class="btn btn-lg">Deconnexion</button>
    </ul>
  </div>

</nav>