   <app-title></app-title>
  <accueil-title></accueil-title>
  <div class="container mother">
    <div class="row">
      <div class="col">
        <accueil-pic-button urlPic="https://i.gyazo.com/bb0d01b52e09c5f2add10d676f05431f.png" title="Rechercher"></accueil-pic-button>
      </div>
      <div class="col">
        <accueil-pic-button urlPic="https://i.gyazo.com/7d98ea73ebe008fcbd93ecd0f8a268be.png" title="Historique"></accueil-pic-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <accueil-pic-button routerLink="plat/2333" urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Exemple de la page plat"></accueil-pic-button>
      </div>
      <div class="col">
        <accueil-pic-button routerLink="aliment/1332" urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Exemple de page aliment"></accueil-pic-button>
      </div>
    </div>
  </div>
  <accueil-logging-buttons></accueil-logging-buttons>
