.mother {
  max-width: 800px;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: clamp(0px, 5%, 80px);
  padding-bottom: clamp(0px, 5%, 80px);
  padding-right: clamp(0px, 10%, 100px);
  padding-left: clamp(0px, 10%, 100px);
  border-radius: 15%;
}

.search{
    color: black;
    :hover{
      color: hsla(144, 75%, 71%, 1);
    }
}