<div class="acceuil-container">
  <app-title></app-title>
  <h1 class="background-blur"> Page d'accueil </h1>
  <div class="main bg-opaque">
  
    <accueil-pic-button urlPic="https://i.gyazo.com/bb0d01b52e09c5f2add10d676f05431f.png" title="Rechercher">
    </accueil-pic-button>
  
    <accueil-pic-button urlPic="https://i.gyazo.com/7d98ea73ebe008fcbd93ecd0f8a268be.png" title="Historique">
    </accueil-pic-button>
  
    <accueil-pic-button routerLink="plat/2333" urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png"
      title="Exemple de la page plat"></accueil-pic-button>
  
    <accueil-pic-button routerLink="aliment/1332" urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png"
      title="Exemple de page aliment"></accueil-pic-button>

  </div>
  <accueil-logging-buttons></accueil-logging-buttons>
</div>