<div class="acceuil-container">
  <app-title></app-title>
  <h1 class="background-blur"> Page d'accueil </h1>
  <div class="main bg-opaque">

    <accueil-pic-button class="active" [routerLink]="['recherche','ingredients']" (mouseover)="mouseEvHandler(false)"
      (mouseenter)="mouseEvHandler(false)" (mouseout)="mouseEvHandler(true)"
      [urlPic]="hover? 'https://i.gyazo.com/bb0d01b52e09c5f2add10d676f05431f.png' : 'https://i.gyazo.com/0f42727264d838ef538eea5259a25c88.png'"
      title="Rechercher">
    </accueil-pic-button>

    <accueil-pic-button [ngClass]="{active : isAuth}" [routerLink]="isAuth?'historique':null"
      (mouseover)="mouseEvHandler2(false)"
      (mouseenter)="mouseEvHandler2(false)" (mouseout)="mouseEvHandler2(true)"
      [urlPic]="hover2? 'https://i.gyazo.com/7d98ea73ebe008fcbd93ecd0f8a268be.png' : 'https://i.gyazo.com/0ef8c97a8f65704a1be9e37848210bf7.png'"
      title="Historique">
    </accueil-pic-button>

    <accueil-pic-button class="active" routerLink="plat/2113" (mouseover)="mouseEvHandler3(false)"
      (mouseenter)="mouseEvHandler3(false)" (mouseout)="mouseEvHandler3(true)"
      [urlPic]="hover3? 'https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png' : 'https://i.gyazo.com/c6d27c5950f8907926e259351781a991.png'"
      title="Exemple de la page plat"></accueil-pic-button>

    <accueil-pic-button class="active" (mouseover)="mouseEvHandler4(false)" (mouseenter)="mouseEvHandler4(false)"
      (mouseout)="mouseEvHandler4(true)" routerLink="aliment/1332"
      [urlPic]="hover4? 'https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png' : 'https://i.gyazo.com/c6d27c5950f8907926e259351781a991.png'"
      title="Exemple de page aliment"></accueil-pic-button>

  </div>
  <accueil-logging-buttons></accueil-logging-buttons>
</div>