<div class="media align-items-lg-center flex-column flex-lg-row p-3">
    <div class="media-body order-2 order-lg-1">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <h5 class="mt-0 font-weight-bold mb-2">{{consomation.name}}</h5>
                </div>
                <div class="row">
                    <div class="col-5">
                        <p class="font-italic text-muted mb-0 small">
                            EcoScore: {{consomation.ecoScore}}
                        </p>
                    </div>
                    <div class="col-5">
                        <p class="font-italic text-muted mb-0 small">
                            Groupe: {{consomation.subGroupName}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="btn btn-secondary disabled">
                    <h6 class="font-weight-bold my-2">₹64,999</h6>
                </div>
            </div>
        </div>
    </div>
</div>