<div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="form-outline mb-4">
                <input class="form-control" formControlName="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="form-outline mb-4">
                <input class="form-control" formControlName="password" type="password" placeholder="Mot de passe">
            </div>
        </div>
        <app-connection-button [active]="loginForm.valid"></app-connection-button>
    </form>
    <div class="text-center">
        <p class="small mt-3">Pas de compte ?
            <br>
            <a routerLinkActive="active" routerLink="/register" class="ps-hero__content__link">S'enregistrer</a>
        </p>
    </div>
</div>