// button {
//   width: 75%;
//   height: 0;
//   padding-bottom: 70%;
//   margin-top: 15%;
//   margin-bottom: 15%;
//   margin-left: 10%;
//   margin-right: 10%;
//   border-radius: 15px;
// }

.pic {
  @media screen and (max-width: 1024px) {
    // height: clamp(0px, 25vw, 500px);
    width: 100%;
  }
  // height: clamp(0px, 15vh, 500px);
  height: 100%;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-size: clamp(0px, 3vw, 50px);
}

div {
  width: 100%;
}
