<div *ngIf="ingredient">
  <div class="wrapper-aliment">
    <h2 class="text-center">{{ ingredient.name }}</h2>
    <div class="environemental-score text-center bg-opaque">
      <p class="environemental-score-txt">Score environemental</p>
      <p [ngClass]="'environemental-score-txt-score ' + setColor()">
        {{ shortenedNumber(ingredient.ecoScore) }}
      </p>
      <p class="environemental-score-txt">par kg de produit</p>
      <div class="environemental-footer">
        <div [ngClass]="'environemental-footer-dqr ' + setColor()">
          <p>DQR {{ shortenedNumber(ingredient.dqr) }}</p>
        </div>
        <i class="environemental-footer-pop-modal fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#modal"></i>
      </div>
    </div>
  </div>

  <app-modal [title]="'Informations'"
    [content]="['Score environemental:','Sans unité, plus le score est bas plus son impact sur l\'environnement est faible. Ce score unique est une moyenne pondérée de 16 indicateurs (), calculé selon la méthodologie européenne « PEF » (Product Environmental Footprint).','DQR:',' Ce chiffre correspond au Data Quality Ratio (DQR), il indique le niveau de confiance que l\'on peut avoir dans le score. Plus le DQR est proche de 1, plus la donnée est fiable ; plus la valeur se rapproche de 5, plus le score rend compte d\'une incertitude importante. Une donnée avec un DQR >= 3 est considérée comme peu fiable.']">
  </app-modal>

  <div class="doughnut-container">
      <app-chart-doughnut class="doughnut bg-opaque" [energyCost]="ingredient.energyCost"></app-chart-doughnut>
  </div>
</div>

<div *ngIf="isLoading" class="container-spinner">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="isError">
  <div class="text-danger text-center">Désolé mon céleri une erreur est survenue !</div>
</div>
