<app-title></app-title>
<div class="d-flex searchb">
  <app-search-bar></app-search-bar>
</div>
<div class="d-flex meal-title">
  <select-meal-title></select-meal-title>
</div>
<div class="container mother">
  <div class="row d-flex space">
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
  </div>
  <div class="row d-flex space">
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
  </div>
  <div class="row d-flex space">
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
  </div>
  <div class="row d-flex space">
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
    <div class="col">
      <select-meal-meal urlPic="https://i.gyazo.com/0c4e18a3b40bd1d66638883be23b25a4.png" title="Meal"></select-meal-meal>
    </div>
  </div>
</div>
