<div class="plat-container">
	<div class="image-container">
		<img src="../../../assets/WIP.png" alt="Image de plat par défault">
		<span>Le nom de mon plat !</span>
	</div>
	<app-chart-doughnut [energyCost]="energyCost"></app-chart-doughnut>

	<button class="btn btn-light my-4" (click)="this.isdetails = !this.isdetails">VOIR LE DÉTAIL</button>
	<div class="ingredients-container" [ngClass]=" {'active': this.isdetails}">
		<app-ingredient-detail *ngFor="let ingredient of this.plat.ingredients"></app-ingredient-detail>
	
	</div>