<app-title></app-title>
<div class="plat-container">
	<div class="bg-opaque image-container">
		<img src="../../../assets/WIP.png" alt="Image de plat par défault">
		<p class="meal" *ngIf="meal">{{meal.name}}</p>
	</div>
	<div class="doughnut-container">
		<app-chart-doughnut *ngIf="meal" class="doughnut bg-opaque" [energyCost]="energyCost!" [otherStepCost]="meal.otherStepCost"></app-chart-doughnut>
	</div>
	<button class="btn btn-light my-4" (click)="this.isdetails = !this.isdetails">VOIR LE DÉTAIL</button>
	<div class="ingredients-container" [ngClass]=" {'active': this.isdetails}">
		<div *ngIf="meal">
			<app-ingredient-detail *ngFor="let ingredient of this.meal.ingredients" [ingredient]="ingredient">
			</app-ingredient-detail>
		</div>
		</div>
		</div>