.ingredient-container {
	background-color: #FFFFFFaa;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 300px;
	height: 40px;
	margin-bottom: 15px;
	&-title { 

	}
	&-ecoscore {
		display: flex;
		justify-content: center;
		align-content: center;
	}
}