<div class="container vh-100 ">
    <app-title></app-title>
    <app-sub-title>Login</app-sub-title>

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="form">
                <form>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <app-connection-button></app-connection-button>

                </form>
                <div class="text-center">
                    <p class="small mt-3">Pas de compte ?
                        <br>
                        <a routerLinkActive="active" routerLink="/register"
                            class="ps-hero__content__link">S'enregistrer</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>