h2 {
  color: #000000;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}



p{
  background-color: red;

}

div{
  padding: 5px 10px;
  border-radius: 30px;
  width: 100%;
  max-width: 600px;
}
