#doughnut {
    min-width: 320px;
}

.doughnut {
    padding-bottom: 20px;

    @media screen and (min-width: 425px) {
        width: 400px;
        height: 400px;
    }
    @media screen and (min-width: 768px) {
        width: 600px;
        height: 600px;
    }
}