<div class="container">
    <app-title></app-title>
    <app-sub-title>Register</app-sub-title>

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="form">
                <form>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="text" placeholder="Nom de Famille">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="text" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-outline mb-4">
                            <input class="form-control" type="password" placeholder="Confirmez le mot de passe">
                        </div>
                    </div>
                    <app-connection-button></app-connection-button>
                    <div class="text-center">
                        <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a
                                href="#" class="ps-hero__content__link">Terms of Use</a> and <a
                                href="#">Privacy Policy</a>.
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>