$menu-primary-color: #304F42;
$menu-secondary-color: #446054;

// energy Score colors
$energyScoreRED: hsla(0, 70%, 50%, 1);
$energyScoreORANGE: hsla(30, 70%, 50%, 1);
$energyScoreYELLOW: hsla(60, 70%, 50%, 1);
$energyScoreSOFTGREEN: hsla(90, 70%, 50%, 1);
$energyScoreGREEN: hsla(120, 70%, 50%, 1);