$menu-primary-color: #304F42;
$menu-secondary-color: #446054;

// energy Score colors
$energyScoreRED: hsla(0, 75%, 71%, 1);
$energyScoreORANGE: hsla(30, 75%, 71%, 1);
$energyScoreYELLOW: hsla(50, 75%, 71%, 1);
$energyScoreSOFTGREEN: hsla(75, 75%, 71%, 1);
$energyScoreGREEN: hsla(144, 75%, 71%, 1);